<ui:composition template="templates/base.xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:b="http://bootsfaces.net/ui"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

	<ui:define name="content">
		<h:form id="frm">
			<b:row>
				<b:column col-md="10" offset-md="1">
					<b:panel title="Categories" look="info" collapsible="false">
						<b:buttonGroup>
							<b:button value="New Category" href="#{request.contextPath}/categoryForm.xhtml" />
						</b:buttonGroup>
						
						<b:dataTable value="#{categoriesViewBean.categories}" var="category" responsive="true">
							<b:dataTableColumn value="#{category.id}" />
							<b:dataTableColumn value="#{category.title}" />
							<b:dataTableColumn value="#{category.description}" />
							
							<b:dataTableColumn label="Action" width="15px" orderable="false">
								<b:commandLink look="default" href="#{request.contextPath}/categoryForm.xhtml?id=#{category.id}" icon-awesome = "fa-eye" />
							</b:dataTableColumn>
						</b:dataTable>
					</b:panel>
				</b:column>
			</b:row>
		</h:form>
	</ui:define>

</ui:composition>