<ui:composition template="templates/base.xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:b="http://bootsfaces.net/ui"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

	<ui:define name="content">
		<h:form id="frm">
			<h1>Category</h1>
			<b:row>
				<b:column col-md="4">
					<b:inputText label="Title" value="#{categoriesFormBean.category.title}" />
				</b:column>
			</b:row>
			<b:row>	
				<b:column col-md="12">
					<b:inputTextarea label="Description" value="#{categoriesFormBean.category.description}" />
				</b:column>
			</b:row>
			<b:row>	
				<b:column col-md="12">
					<b:buttonGroup>
						<b:commandButton value="Save" ajax="true" update="@form" actionListener="#{categoriesFormBean.save}" />
						<b:commandButton value="Delete" ajax="true" update="@form" actionListener="#{categoriesFormBean.delete}" rendered="#{categoriesFormBean.category.id != null}" />
					</b:buttonGroup>				
				</b:column>
			</b:row>				
		</h:form>
	</ui:define>

</ui:composition>